#include "MFRES.H"
#include <winver.h>

#define _MFRES_INC_
/* Micro Focus Resource File. */
/* Version 4.00.017 */
#include <mfrcwin.h>
/*MF_BITMAP*/
IDB_RED  BITMAP PRELOAD DISCARDABLE RED.BMP
IDB_GREEN  BITMAP PRELOAD DISCARDABLE GREEN.BMP
IDB_BLUE  BITMAP PRELOAD DISCARDABLE BLUE.BMP
IDB_EXIT  BITMAP PRELOAD DISCARDABLE EXIT.BMP
IDB_HELP  BITMAP PRELOAD DISCARDABLE HELPBTN.BMP
IDB_CHECK  BITMAP PRELOAD DISCARDABLE CHECK.BMP
IDB_CUT  BITMAP PRELOAD DISCARDABLE CUT.BMP
IDB_COPY  BITMAP PRELOAD DISCARDABLE COPY.BMP
IDB_PASTE  BITMAP PRELOAD DISCARDABLE PASTE.BMP
IDB_NEW  BITMAP PRELOAD DISCARDABLE NEW.BMP
IDB_NEWDEL  BITMAP PRELOAD DISCARDABLE NEWDEL.BMP
IDB_DELETE  BITMAP PRELOAD DISCARDABLE DELETE.BMP
IDB_OPEN  BITMAP PRELOAD DISCARDABLE OPEN.BMP
IDB_SAVE  BITMAP PRELOAD DISCARDABLE SAVE.BMP
IDB_CTXTHELP  BITMAP PRELOAD DISCARDABLE CTXTHELP.BMP
IDB_TLEVERT  BITMAP PRELOAD DISCARDABLE TLEVERT.BMP
IDB_TLEHORZ  BITMAP PRELOAD DISCARDABLE TLEHORZ.BMP
IDB_CASCADE  BITMAP PRELOAD DISCARDABLE CASCADE.BMP
IDB_ARRANGE  BITMAP PRELOAD DISCARDABLE ARRANGE.BMP
IDB_BOLD  BITMAP PRELOAD DISCARDABLE BOLD.BMP
IDB_ITALIC  BITMAP PRELOAD DISCARDABLE ITALIC.BMP
IDB_ULINE  BITMAP PRELOAD DISCARDABLE ULINE.BMP
IDB_LEFT  BITMAP PRELOAD DISCARDABLE LEFT.BMP
IDB_CENTER  BITMAP PRELOAD DISCARDABLE CENTER.BMP
IDB_RIGHT  BITMAP PRELOAD DISCARDABLE RIGHT.BMP
IDB_FONT  BITMAP PRELOAD DISCARDABLE FONT.BMP
/*MF_CURSOR*/
/*MF_DIALOG*/
/*MF_ICON*/
/*MF_MENU*/
/*MF_RCDATA_END*/

1 VERSIONINFO
  FILEVERSION    05100,07000,0,0
  PRODUCTVERSION 1,0,0,0
  FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
  FILEFLAGS      0                        /* no special flags specified */
  FILEOS         VOS_NT_WINDOWS32         /* NT app */
  FILETYPE       VFT_DLL                 /* File is an DLL */
  FILESUBTYPE    VFT2_UNKNOWN             /* Normal file */
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "04090000"            /* lang-charset : US. English, ACSII */
    BEGIN
      VALUE "CompanyName",      "Micro Focus\0"
      VALUE "FileDescription",  "Dialog System\0"
      VALUE "FileVersion",      "DSDM_18092008\0"
      VALUE "InternalName",     "TBAR\0"
      VALUE "LegalCopyright",   "Copyright (C) Micro Focus 1984-2012. All rights reserved.\0"
      VALUE "LegalTrademarks",  "See trademark information web page: http://www.microfocus.com/about/legal/index.aspx\0"
      VALUE "OriginalFilename", "TBAR.DLL\0"
      VALUE "ProductName",      "Net Express 5.1\0"
      VALUE "ProductVersion",   "5.107.0047\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
      VALUE "Translation", 0x0409, 0    /* U.S. English,ASCII   */
  END
END
