#include "MFRES.H"

#define _MFRES_INC_

/* Resource File. */

/* Version 4.00.017 */ 

/*MF_BITMAP*/

/*MF_CURSOR*/

/*MF_DIALOG*/

/*MF_ICON*/

ID_CNRACC1  ICON PRELOAD DISCARDABLE  CNRACC1.ico

ID_CNRACC2  ICON PRELOAD DISCARDABLE  CNRACC2.ico

ID_CNRACC3  ICON PRELOAD DISCARDABLE  CNRACC3.ico

ID_CNRACC4  ICON PRELOAD DISCARDABLE  CNRACC4.ico

ID_CNRACC5  ICON PRELOAD DISCARDABLE  CNRACC5.ico

ID_CNRACC6  ICON PRELOAD DISCARDABLE  CNRACC6.ico

ID_CNRACC7  ICON PRELOAD DISCARDABLE  CNRACC7.ico

ID_CNRACC8  ICON PRELOAD DISCARDABLE  CNRACC8.ico

ID_CNRACC9  ICON PRELOAD DISCARDABLE  CNRACC9.ico

ID_CNRCOMP1  ICON PRELOAD DISCARDABLE  CNRCOMP1.ico

ID_CNRCOMP2  ICON PRELOAD DISCARDABLE  CNRCOMP2.ico

ID_CNRCOMP3  ICON PRELOAD DISCARDABLE  CNRCOMP3.ico

/*MF_MENU*/

/*MF_RCDATA_END*/
